{% extends 'base.html.twig' %}

{% block title %}La boutique Française | Mon mot de passe{% endblock %}

{% block content %}

<h1>Mon mot de passe</h1>
<a href="{{ path('app_account') }}">Retourner sur mon compte</a>

<hr>

{% if notification %}
<div class="alert alert-info">
    {{ notification }}
</div>
{% endif %}

{{ form(form) }}

{% endblock %}