{% extends 'base.html.twig' %}

{% block title %}Valider ma commande{% endblock %}

{% block content %}
<h2>Je passe ma commande</h2>

<p>Choisissez vos préférences avant de passer commande !</p>
<hr>
<div class="row">
    <div class="col-md-6">
        {% set formHtml %}
        {{ form(form) }}
        {% endset %}

        {{ formHtml|replace({'[br]' : '<br>'})|raw }}
    </div>
    <div class="col-md-6">
        <b>Récapitulatif de la commande</b>
            {% for product in cart %}
            <div class="row">
                <div class="col-md-6">
                    {{ product.product.name }}
                </div>
            </div>
            {% endfor %}
        <b>Payer</b>
    </div>
</div>
{% endblock %}